# Папки сборки и кэша Java
.gradle/
build/

# Виртуальное окружение Python
.venv/
venv/
__pycache__/

# Служебные папки IDE
.idea/
.vscode/

# Локальные файлы конфигурации с секретами
.env
*.env

# Системные файлы
*.log
*.iml